# Manual Verification of Topics Classification

In our paper, we manually verify the classification of a sample of domains by
the Topics API.

- Prerequisite: classify CrUX with the Topics API (see [experiment
1](../petsymposium-artifact2024.1/experiment1.sh)).
- Attention: the following call make http requests to random websites, you may
  want to use a VPN for that (see [Security/Privacy Issues and Ethical
Concerns](../petsymposium-artifact2024.1/template.md#securityprivacy-issues-and-ethical-concerns)).
- Run `./manual_verification.sh nb_domains`  where nb_domains is the size of the
  sample you want to manually verify/


